@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .x-container {
    @apply max-w-[1320px] w-full px-10 pt-6 mx-auto;
  }

  /* ANIMATION */
  .x-animation {
    @apply transition-all duration-300 ease-out;
  }
}

@layer base {
  /* OFFLINE FONT FAMILY */
  @font-face {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/Helvetica.woff) format("woff");
  }
  @font-face {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/assets/fonts/Helvetica-Light.woff) format("woff");
  }
  @font-face {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/assets/fonts/Helvetica-Bold.woff) format("woff");
  }
  /* CUSTOM CSS */
  section,
  header,
  footer {
    @apply relative;
  }

  a,
  button {
    @apply inline-block cursor-pointer;
  }

  img {
    @apply w-full align-middle;
  }

  input,
  select,
  textarea {
    @apply outline-none bg-transparent focus:outline-none;
  }
}
@layer utilities {
  .sl-line-text-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
